nav, footer {
  background: #07266c;
}

#navBar,#h1footer {
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ff0c92, 0 0 30px #ff0c92, 0 0 40px #ff0c92cd, 0 0 50px #ff0c92cd, 0 0 60px #ff0c92, 0 0 70px #ff0c92;
      }
      to {
        text-shadow: 0 0 50px #ff0c92, 0 0 30px #ff0c92, 0 0 40px #ff0c92cd, 0 0 50px #ff0c92cd, 0 0 60px #ff0c92cd, 0 0 500px #ff0c92cd, 0 0 80px #ff0c92cd;
      }
  }

  nav li {
    border: none;
    transition: 0.5s;
  }

  nav li:hover {
    border-radius: 10px;
    background-color: #ff0c92cd;
    color: white;
    zoom: 110%;
  }

  #headings {
  background-image: linear-gradient(
    -225deg,
    #12190f 0%,
    #185d9a 29%,
    #ff0c92cd 67%,
    #2600ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;

  }

  @keyframes textclip {
  to {
    background-position: 200% center;
  }
  }

  // Landing Page 

  #landing {
    width: 100%;
    height: 90vh;
    background: url("../images/sagkaray.jpg") top left;
    background-size: cover;
    position: relative;
  }

  #landing:before {
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(59deg, rgba(8, 0, 255, 0.38) 47%, rgba(244,0,227,0) 65%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #landing .container {
    position: relative;
  }

  #landing h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }

  #landing h1 span {
    color: #ffffff;
    text-shadow:5px 5px 15px rgb(255, 0, 183);
  }

  #landing h2 {
    color: #ffffff;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }

  // clients zoomin animation
  #zoomin {
    padding: 50px;
    transition: transform .5s;
  }

  #zoomin :hover {
    transform: scale(1.1);
  } 

  #pinkBtn {
    border: white solid 0.5px;
    color: #ffffff;
    transition: 0.5s;
  }

  #pinkBtn:hover {
    border-radius: 10px;
    background-color: #ff0c92db;
    color: white;
  }


  form {
    border-radius: 10px;
    background-color: #07256cdc;
    border: color rgb(255, 0, 149) 2px;
    height: 500px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
  }
  